/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
  margin: 0;
  background-image: url("./assets/tom-ritson-DBYV_V5spes-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.form-control, .custom-select, .btn {
  border-radius: 0px !important;
}

.container-fluid {
  margin-top: 70px;
  position: relative;
  font-family: 'Girassol', cursive;
}


.snackbar {
  position: absolute;
  width: 40%;
  height: 5%;
  top: 10%; right: 30%;
  transform: translate(50%,-50%);

  background-color: green;
  color: white;


}

@media only screen and (max-width: 600px)
{
  .snackbar {
    position:sticky;
margin-bottom: 570px !important;
    background-color: green;
    color: white;
  }
}
