.container{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 7%;

}
.row{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.card {
  /*float: left;*/
  max-width: 33.333%;

  padding: .75rem;
  margin-bottom: 2rem;
  margin-right: 1em;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;

  background-color:rgb(91 83 82 / 35%)
}

img{
  width : 200px;
  height: 250px;
}

.card > img {

  width: 100%;
}

.card-text {
  font-size: 120%;
background-color: rgba(0, 0, 0, 0.445);

}
@media(max-width: 1400px)
{
  .container{
    margin-top: 10%;
  }
  .card {
    /*float: left;*/
    max-width: 90%;
  }
}
b{
  background: linear-gradient(
    to right, #a3d0c1, #ff0808,
     #a1cf23, #4444ee);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
@media(max-width: 800px)
{
  .row{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .card {
    /*float: left;*/
    max-width: 90%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  img{
    width : 150px;
    height: 200px;
  }
  .card-text {
    font-size: 100%;
  }
}




::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #05232e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad6d7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
